<div class="container">

    @model SZamoranoShoppingApp.Models.CodeFirst.Item

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Item</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src="@Model.MediaURL" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MediaURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MediaURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Description)*@
                @Html.Raw(Model.Description)
            </dd>

        </dl>
    </div>
    <p>
@if (Request.IsAuthenticated)
{
        @Html.ActionLink("Back to List", "Index", "CartItems") 
}
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
            @Html.ActionLink("Delete Item", "Delete", new { id = Model.Id }) 
        }
    </p>
</div>