@model IEnumerable<SZamoranoShoppingApp.Models.CodeFirst.Item>

<!-- PRODUCT GRID -->
<div class="container">
    <div class="items-row">
        <p>
            @Model.Count()
            <span class="pull-right btn-default">

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Create New", "Create")
                }
            </span>
        </p>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <a href="@Url.Action("Details", "Items", new {id = item.Id})">
                    <img src="@Url.Content(item.MediaURL)" style="width:100%">
                    <p>@item.Name<br><b>$@item.Price</b></p>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Create", "CartItems", new { id = item.Id }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn btn-danger" value="Add to cart" />
                        }
                    }
                </a>
            </div>
        }
    </div>

</div>






@*<div class="col-sm-3">
                <img src="Images/m2.jpg" style="width:100%">
                <p>CFW-550<br><b>$1500.00</b></p>
            </div>
            <div class="col-sm-3">
                <img src="Images/m3.jpg" style="width:100%">
                <p>CFW-1100<br><b>$1600.00</b></p>
            </div>
            <div class="col-sm-3">
                <img src="Images/m5.jpg" style="width:100%">
                <p>CFW-1200<br><b>$1650.00</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="Images/m6.jpg" style="width:100%">
                <p>CFW-850<br><b>$1550.00</b></p>
            </div>
            <div class="col-sm-3">
                <img src="Images/m7.jpg" style="width:100%">
                <p>CFW-650<br><b>$950.00</b></p>
            </div>
            <div class="col-sm-3">
                <img src="Images/m8.jpg" style="width:100%">
                <p>CFW-2500<br><b>$8700.00</b></p>
            </div>
            <div class="col-sm-3">
                <img src="Images/m9.jpg" style="width:100%">
                <p>CFW-5500<br><b>$15000.00</b></p>
            </div>
        </div>
    </div>*@

























<!-- Display product content -->
@*<div class="w3-row">
            @foreach(var item in Model)
            {
                <div class="w3-col l3">
                        <div class="w3-container">
                            <a href="@Url.Action("Details", "Items", new {id = item.Id})">

                            <img src="@Url.Content(item.MediaURL)" style="width:100%">
                            <p>@item.Name<br><b>$@item.Price</b></p></a>
                        </div>
                </div>
            }
    </div>*@


















<!--<div class="w3-container">
            <img src="~/Assets/Images/m2.jpg" style="width:100%">
            <p>CFW-550<br><b>$1500.00</b></p>
        </div>
    </div>
    <div class="w3-col l3">
        <div class="w3-container">
            <img src="~/Assets/Images/m3.jpg" style="width:100%">
            <p>CFW-1100<br><b>$1600.00</b></p>
        </div>
        <div class="w3-container">
            <img src="~/Assets/Images/m5.jpg" style="width:100%">
            <p>CFW-1200<br><b>$1650.00</b></p>
        </div>
    </div>

    <div class="w3-col l3">
        <div class="w3-container">
            <img src="~/Assets/Images/m6.jpg" style="width:100%">
            <p>CFW-850<br><b>$1550.00</b></p>
        </div>
        <div class="w3-container">
            <img src="~/Assets/Images/m7.jpg" style="width:100%">
            <p>CFW-650<br><b>$950.00</b></p>
        </div>
    </div>

    <div class="w3-col l3">
        <div class="w3-container">
            <img src="~/Assets/Images/m8.jpg" style="width:100%">
            <p>CFW-2500<br><b>$8700.00</b></p>
        </div>
        <div class="w3-container">
            <img src="~/Assets/Images/m9.jpg" style="width:100%">
            <p>CFW-5500<br><b>$15000.00</b></p>
        </div>
    </div>
</div>-->
