@model IEnumerable<SZamoranoShoppingApp.Models.CodeFirst.Item>


<div class="container">


    @{
        ViewBag.Title = "SearchResults";
    }


    <!-- PRODUCT GRID -->
    <div class="container">
        <div class="items-row">
            <p style="font-family: 'Julius Sans One', sans-serif; padding-top:.75em; font-weight:900">
                @Model.Count() Items
                <span class="pull-right btn-default">

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Create New", "Create")
                    }
                </span>
            </p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <a href="@Url.Action("Details", "Items", new {id = item.Id})">
                        <img src="@Url.Content(item.MediaURL)" style="width:100%">
                        <p>@item.Name<br><b>$@item.Price</b></p>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Create", "CartItems", new { id = item.Id }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-danger" value="Add to cart" />
                            }
                        }
                    </a>
                </div>
            }
        </div>

    </div>