<div class="container">

    @model IEnumerable<SZamoranoShoppingApp.Models.CodeFirst.CartItem>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Your Shopping Cart <a class="btn btn-success pull-right" href="@Url.Action("Create","Orders")">Proceed to Checkout</a></h2><br />
    <span class="pull-right" style="font-size: 18px; color: black">@ViewBag.CartTotal</span>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th></th>
            <th>
                Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                Unit Price
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Item.MediaURL" style="max-width: 100px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "Items", new { id = item.ItemId }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>